version: '3'

services:

    # NGINX Service
    nginx:
        image: nginx:alpine
        networks:
            - default
        ports:
            - "9001:80"
        restart: always
        depends_on:
            - php
        volumes:
            - .:/application
            - .docker/nginx.conf:/etc/nginx/conf.d/application.conf

    # PHP-FPM Service
    php:
        image: php:7-fpm
        networks:
            - default
        restart: always
        volumes:
            - .:/application

    # Composer
    composer:
        image: composer
        volumes:
            - .:/application
        command: install

    # Networking
    networks:
        default:
            driver: bridge