version: '3'

services:

  database:
    build:
      context: ./.docker/database
    env_file:
      - .env

  php-fpm:
    build:
      context: ./.docker/php-fpm
    depends_on:
      - database
    volumes:
      - .:/var/www

  nginx:
    build:
      context: ./.docker/nginx
    env_file:
      - .env
    volumes:
      - .:/var/www
      - ./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./.docker/nginx/sites-available/:/etc/nginx/sites-available
      - ./.docker/nginx/conf.d/:/etc/nginx/conf.d
    depends_on:
      - php-fpm
    ports:
      - "9090:80"