version: '3'

services:

    # NGINX Service
    nginx:
        image: nginx:latest
        networks:
            - default
        ports:
            - "9090:80"
        restart: always
        depends_on:
            - php
        volumes:
            - .:/application
            - .docker/nginx.conf:/etc/nginx/conf.d/application.conf

    # PHP-FPM Service and our application
    php:
        build: './.docker/Dockerfile'
        networks:
            - default
        restart: always
        volumes:
            - .:/application

networks:
    default:
        driver: bridge