version: '3'

services:
    web:
        image: nginx:latest
        ports:
            - "9090:80"
        volumes:
            - ./alan-web:/var/www
            - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
        links:
            - php
    php:
        build:
            context: .
            dockerfile: docker/Dockerfile-php
        volumes:
            - ./alan-web:/var/www
