{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h3 class="p-4">Deny request</h3>

                <p>
                    This request will be denied and the user will be notified about this decision.
                </p>

                <p>If you wish, you could write a brief explanation to the user on why the request got denied.</p>
                <!-- TODO: form with textarea -->
            </div>
        </div>
{% endblock %}