{% extends '../base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h3 class="p-4">Request sent!</h3>

                <p>
                    Your request to access the Alan cluster has been successfully sent.<br/>
                    If approved by the cluster administration, you will receive an e-mail with your credentials.
                </p>
            </div>
        </div>
{% endblock %}