{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h3 class="p-4">Request denied!</h3>

                <p>The request is denied and the user will be notified.</p>
            </div>
        </div>
{% endblock %}