{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h3 class="p-4">Request not found</h3>

                <p>
                    A request with the provided ID could not be found.<br/>
                    Maybe it got approved already?
                </p>
            </div>
        </div>
    </div>
{% endblock %}