<style lang="css">
    .bold {
        font-weight: 700 !important;
    }
</style>

<p>
    Dear<br />
    Your request to use the Alan cluster has been approved.
</p>

<p class="bold">Your credentials</p>

<p>
    <span class="bold">Username</span><br />
    {{ username }}
</p>

<p>
    <span class="bold">Password</span><br />
    {{ password }}
</p>