<p>
    Dear<br />
    Your request to use the Alan cluster has been approved.
</p>

<p style="font-weight: 700 !important;">Your credentials</p>

<p>
    <span style="font-weight: 700 !important;">Username</span><br />
    {{ username }}
</p>

<p>
    <span style="font-weight: 700 !important;">Password</span><br />
    {{ password }}
</p>